main {
}

.app{}

.empty{
  background: white;
  outline: none;
}

.password{
  border: none;
  border-bottom: 2px solid black;
  /* outline: none; */
}

.complete{
  outline: green;
  background: green;
}